<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TradeDataLoadersSection" type="TradeDataMonitorApp.Configuration.TradeDataLoadersSection, TradeDataMonitorApp"/>
  </configSections>

  <TradeDataLoadersSection>
    <TradeDataLoaders>
      <add assembly="TradeDataMonitoring.dll" class="TradeDataMonitoring.TradeDataLoaders.CsvFileTradeDataLoader"/>
      <add assembly="TradeDataMonitoring.dll" class="TradeDataMonitoring.TradeDataLoaders.TxtFileTradeDataLoader"/>
      <add assembly="XmlFileTradeData.dll" class="XmlFileTradeData.XmlFileTradeDataLoader"/>
    </TradeDataLoaders>
  </TradeDataLoadersSection>

  <appSettings>
    <add key="MonitoringDirectoryPath" value="G:\_data\software developing\git\TradeDataMonitor\_test-monitoring-folder"/>
    <add key="UpdatesMonitoringPeriodSeconds" value="3"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>