<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="unhandled-exceptions" xsi:type="File" fileName="UnhandledExceptions_log.txt" />
    <target name="main" xsi:type="File" fileName="TradeDataMonitorApp_log.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="unhandled-exceptions" />
    <logger name="*" writeTo="main" />
  </rules>
</nlog>
